include Makefile
include *.txt
include bin/hpd_control_tio
include bin/hpd_control_hdmi
include bin/pixeldump
include deploy/deploy
include deploy/init.d/chameleond
include deploy/init.d/chameleon-updater
recursive-include updatable boot-partition.img fpga.rbf socfpga.dtb
